<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-UK" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>

  {% assign modes = "commands,normal,insert,visual" | split: "," %}
  {% assign sections = "environment,movement,general" | split: "," %}

  {% for mode in modes %}
    <h2>{{ mode | capitalize }} Mode</h2>
    {% for sections in sections %}
      {% assign exists = false %}
      {% for cheat in site.data.normal %}
        {% if cheat.section == sections and cheat.mode == mode %}
          {% assign exists = true %}
          {% break %}
        {% endif %}
      {% endfor %}
      {% if exists %}
        <h3>{{ sections | capitalize }}</h3>
        <table>
          {% for cheat in site.data.normal %}
            {% if cheat.section == sections and cheat.mode == mode %}
              <tr>
                <td><kbd>{{ cheat.kbd }}</kbd></td>
                <td>{{ cheat.explanation }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </table>
      {% endif %}
    {% endfor %}
  {% endfor %}

  </body>
</html>
